.interet {
  background: url("../images/bg-interet.jpg") fixed;
  padding: 80px 0;
}

.interet p {
  margin-top: 0;

  font-size: 1.125rem;
  text-align: center;
}

.interet h3 {
  margin-bottom: 18px;
}