:root {
  --fond-carte: #FFF;
  --header:#000;
  --footer: #000;
  --degrade: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
  --couleur-textes: #000;
  --couleur-titres: #FFF;
}